<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="LogToFile" fileName="/tmp/logs/ms-bancopa-api.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="br.com.bancopan.api" level="debug"
			additivity="false">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>
		<Logger name="org.springframework.boot" level="error"
			additivity="false">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="org.hibernate.SQL" level="debug">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>
	
		<Logger name="org.hibernate.type" level="debug">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="org.hibernate.pretty" level="debug">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="org.hibernate.cache" level="debug">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="org.hibernate.transaction" level="debug">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="org.hibernate.jdbc" level="debug">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="org.hibernate.hql.ast.AST" level="debug">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="org.hibernate" level="debug">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Root level="error">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Root>
	</Loggers>
</Configuration>
